script(src='/flot/jquery.flot.js')
script(src='/flot/jquery.flot.time.js')
script(src='/flot/jquery.flot.crosshair.js')
script(src='/flot/jquery.flot.selection.js')
script(src='/flot/jquery.flot.crosshair.js')
script(src='/flot/curvedLines.js')
script(src='/js/underscore.js')
script(src='/js/moment.min.js')
script(src='/js/app.js')

//-
  script.
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-00000000']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
