head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  title= pkg.name + ' - ' + title
  meta(http-equiv="Content-type", content="text/html;charset=UTF-8")
  meta(name="keywords", content=pkg.keywords.join(","))
  meta(name="description", content=pkg.description)

  link(href="/img/favicon.ico", rel="shortcut icon", type="image/x-icon")


  script(src='/js/jquery.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/moment.min.js')
  script(src='/js/daterangepicker.js')
  
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  link(rel="stylesheet", href="/css/daterangepicker.css")
  link(rel="stylesheet", href="/css/app.css")
